NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SEAL_PACKAGE_ID=
NEXT_PUBLIC_SEAL_NAMESPACE_PACKAGE_ID=
NEXT_PUBLIC_SEAL_KEY_SERVERS=
NEXT_PUBLIC_SEAL_THRESHOLD=1
NEXT_PUBLIC_WALRUS_UPLOAD_RELAY_URL=https://upload-relay.testnet.walrus.space
NEXT_PUBLIC_SUI_NETWORK=testnet
NEXT_PUBLIC_SUI_EXPLORER_BASE_URL=https://suiscan.xyz/testnet
NEXT_PUBLIC_EXTENSION_DOWNLOAD_URL=/downloads/sui-seal-extension.zip
